.shop-container {
  margin: 80px 0 50px 0;
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 30px;
}
.product-container {
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* responsive css */
@media screen and (max-width: 768px) {
  .shop-container {
    display: contents;
  }
  .product-container {
    display: contents;
    gap: 0;
  }
  .select-product {
    margin: 50px 0;
  }
}
