.product {
  border: 2px solid gray;
  border-radius: 15px;
}
.product-info {
  margin: 10px;
}
.product-info img {
  width: 250px;
  height: 250px;
}
.product-info h4 {
  font-size: 22px;
}
.product-info h5 {
  font-size: 18px;
}
